apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: lexigo-db
spec:
  serviceName: "lexigo-db"
  replicas: 1
  selector:
    matchLabels:
      app: lexigo-db
  template:
    metadata:
      labels:
        app: lexigo-db
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "pg-user"
            - name: POSTGRES_PASSWORD
              value: "pg-pass"
            - name: POSTGRES_DB
              value: "words_db"
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: postgres-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi