apiVersion: batch/v1
kind: Job
metadata:
  name: lexigo-auth-migrate
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded

spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migrate
          image: "{{ .Values.migrator.image }}:{{ .Values.migrator.tag }}"
          imagePullPolicy: IfNotPresent
          env:
            - name: DATABASE_URL
              value: "{{ .Values.migrator.databaseUrl }}"
          command: ["sh", "-c"]
          args: ['migrate -path /migrations -database "$DATABASE_URL" up']
